<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Conn" connectionString="Data Source=localhost\SQL2008;Initial Catalog=CustomerDB(DesignPattern);Integrated Security=True"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>